@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

h1 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    max-width: 300px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.links a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.links a:hover {
    color: #007bff;
    transform: scale(1.2);
}